---
import Layout from '../layouts/Layout.astro';
import HeroTextCenter from '../components/HeroTextCenter.astro';
import CardHover from '../components/CardHover.astro';
import HeroContainer from '../components/HeroContainer.astro';
import HeroContent from '../components/HeroContent.astro';
import Card from '../components/Card.astro';
import Map from '../components/Map.astro';
import mapData from '../data/mapData.js';

const aboutData = [
  {
    name: 'Adam Pohlman',
    info: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae voluptatum repellendus eos possimus voluptatibus eum nulla officiis optio nam nihil!',
    img: '/images/adam.jpg',
  },
  {
    name: 'Jordan Hecox',
    info: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt officia delectus accusamus voluptates et a.',
    img: '/images/jordan.jpg',
  },
  {
    name: 'Josh Koehn',
    info: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt officia delectus accusamus voluptates et a.',
    img: '/images/josh.jpg',
  },
  {
    name: 'Tyler Mykkanen',
    info: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae voluptatum repellendus eos possimus voluptatibus eum nulla officiis optio nam nihil!',
    img: '/images/tyler.jpg',
  },
];
---

<Layout>
  <HeroContainer id='about'>
    <HeroContent>
      <h2 slot='heading'>About Us</h2>
      <p slot='body'>Coming Soon!</p>
    </HeroContent>
  </HeroContainer>

  <div
    class='bg-primary grid grid-cols-1 md:grid-cols-2 items-center justify-center gap-10 my-10 mx-10'
  >
    <!-- <Card name='Adam' info='RCC' img='/images/adam.jpg' /> -->

    {
      aboutData.map((item) => (
        <Card name={item.name} info={item.info} img={item.img} />
      ))
    }
  </div>

  <Map data={mapData} />
  <HeroContainer id='dev'>
    <HeroContent>
      <h2 slot='heading'>DEVELOPMENT</h2>
    </HeroContent>
  </HeroContainer>
</Layout>
