---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import HeroTextCenter from '../components/HeroTextCenter.astro';
import CardHover from '../components/CardHover.astro';
---

<Layout>
  <Navigation />

  <HeroTextCenter id='about'>
    <h2 slot='headingText'>About</h2>
  </HeroTextCenter>
  <div class='grid grid-cols-3 gap-4 container mx-auto'>
    <CardHover />
    <CardHover />
    <CardHover />
    <CardHover />
    <CardHover />
    <CardHover />
  </div>
</Layout>
