---
import HeroOverlay from '../components/HeroOverlay.astro';
import Layout from '../layouts/Layout.astro';
import HeroTextCenter from '../components/HeroTextCenter.astro';
import FeatureBlockRight from '../components/FeatureBlockRight.astro';
import visionData from '../data/visionData.js';
import HeroContainer from '../components/HeroContainer.astro';
import HeroContent from '../components/HeroContent.astro';
import Card from '../components/Card.astro';
import Map from '../components/Map.astro';
---

<Layout>
  <HeroContainer id='dev'>
    <HeroContent>
      <h2 slot='heading'>DEVELOPMENT</h2>
    </HeroContent>
  </HeroContainer>
  <div class='bg-primary h-screen flex items-center justify-center'>
    <Card />
  </div>
  <HeroContainer id='dev'>
    <HeroContent>
      <h2 slot='heading'>DEVELOPMENT</h2>
    </HeroContent>
  </HeroContainer>
</Layout>
