---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class='grid grid-cols-3 gap-4 h-full'>
    <button class='btn btn-primary self-center'>Primary</button>
    <button class='btn btn-secondary self-center'>Secondary</button>
    <button class='btn btn-accent self-center'>accent</button>
    <button class='btn btn-neutral self-center'>neutral</button>
    <button class='btn btn-base self-center'>Base</button>
  </div>
</Layout>
