---
import navData from '../data/navData.js';
import { Icon } from 'astro-icon/components';
---

<div
  id='hs-full-screen-modal'
  class='hs-overlay hidden size-full fixed start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none'
  role='dialog'
  tabindex='-1'
  aria-labelledby='hs-full-screen-label'
>
  <div
    class='hs-overlay-open:mt-0 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-10 opacity-0 transition-all max-w-full max-h-full h-full'
  >
    <div
      class='flex flex-col bg-neutral pointer-events-auto max-w-full max-h-full h-full'
    >
      <div class='flex justify-between items-center py-3 px-4 border-b'>
        <h3 id='hs-full-screen-label' class='font-bold text-primary'>
          <a class='btn btn-ghost text-2xl' href='/'>
            <!-- <Icon name='tct_logo' class='text-4xl' /> -->
            <Icon name='tct_logo' class='text-4xl' />
            Southern MN TCT
          </a>
        </h3>
        <button
          type='button'
          class='size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent text-primary hover:bg-neutral-200 focus:outline-none focus:bg-neutral-200 disabled:opacity-50 disabled:pointer-events-none'
          aria-label='Close'
          data-hs-overlay='#hs-full-screen-modal'
        >
          <span class='sr-only'>Close</span>
          <svg
            class='shrink-0 size-4'
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path d='M18 6 6 18'></path>
            <path d='m6 6 12 12'></path>
          </svg>
        </button>
      </div>
      <div class='p-4 overflow-y-auto text-primary'>
        <ul class='menu modal-menu'>
          {
            navData.map((item) => (
              <li>
                <a href={item.path} class='text-2xl'>
                  {item.name}
                </a>
                <ul>
                  {item.submenu &&
                    item.submenu.map((subitem) => (
                      <li>
                        <a href={subitem.path} class='text-xl'>
                          {subitem.name}
                        </a>
                      </li>
                    ))}
                </ul>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  import { HSAccordion, HSOverlay } from 'preline';

  const page = document.documentElement;
  const links = page.querySelectorAll('li > a');

  links.forEach((element) => {
    element.addEventListener('click', () => {
      console.log('close');
      HSOverlay.close('#hs-full-screen-modal');
    });
  });

  //   openBtn.addEventListener('click', () => {
  //   HSOverlay.open('#modal');
  // });
  // console.log(links);
</script>
