---
const currentPath = Astro.url.pathname;
---

<div
  id='modal-btn'
  tabindex='0'
  role='button'
  class='btn btn-ghost text-primary border-opacity-0'
  aria-haspopup='dialog'
  aria-expanded='false'
  aria-controls='hs-full-screen-modal'
  data-hs-overlay='#hs-full-screen-modal'
>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    class='h-5 w-5'
    fill='none'
    viewBox='0 0 24 24'
    stroke='currentColor'
  >
    <path
      stroke-linecap='round'
      stroke-linejoin='round'
      stroke-width='2'
      d='M4 6h16M4 12h8m-8 6h16'></path>
  </svg>
</div>

<script define:vars={{ currentPath }}>
  const modalBtn = document.querySelector('#modal-btn');
  const header = document.querySelector('#page-header');
  const page = document.documentElement;

  // Display unique positioning / behavior for navbar on homepage
  if (currentPath === '/') {
    modalBtn.classList.replace('btn-ghost', 'btn-primary');
    modalBtn.classList.remove('text-primary');
    modalBtn.classList.add('bg-opacity-50');

    document.addEventListener('scroll', () => {
      const d = page.clientHeight - page.scrollTop - header.offsetHeight;
      if (d < 0) {
        modalBtn.classList.replace('btn-primary', 'btn-ghost');
        modalBtn.classList.add('text-primary');
        modalBtn.classList.remove('bg-opacity-50');
      } else {
        modalBtn.classList.replace('btn-ghost', 'btn-primary');
        modalBtn.classList.remove('text-primary');
        modalBtn.classList.add('bg-opacity-50');
      }

      // modalBtn.classList.toggle('btn-ghost', d < 0);
      // modalBtn.classList.toggle('text-primary', d < 0);
    });
  }
</script>
