---
import navData from '../data/navData.js';
import { Icon } from 'astro-icon/components';
import FullscreenModalButton from './FullscreenModalButton.astro';

const currentPath = Astro.url.pathname;

// TODO: Refactor using astro.self? https://docs.astro.build/en/reference/astro-syntax/#astroself
---

<!-- <div id='page-header' class='navbar bg-base-100 fixed top-0 z-50'> -->
<header id='page-header' class='navbar bg-neutral z-50 fixed bottom-auto top-0'>
  <div class='navbar-start'>
    <!-- <div class='dropdown'> -->
    <FullscreenModalButton />
    <!-- </div> -->
  </div>

  <div class='navbar-end'>
    <a id='logo-btn' class='btn btn-ghost text-primary text-xl' href='/'>
      Southern MN TCT
      <Icon name='tct_logo' class='text-4xl' />
    </a>
  </div>
</header>

<script define:vars={{ currentPath }}>
  const header = document.querySelector('#page-header');
  const logoBtn = document.querySelector('#logo-btn');
  const modalBtn = document.querySelector('#modal-btn');
  const page = document.documentElement;

  // Display unique positioning / behavior for navbar on homepage
  if (currentPath === '/') {
    header.classList.remove('fixed-header');
    header.classList.add('bg-transparent');
    logoBtn.classList.add('hidden');

    document.addEventListener('scroll', () => {
      const d = page.clientHeight - page.scrollTop - header.offsetHeight;
      if (d < 0) {
        header.classList.replace('bg-transparent', 'bg-neutral');
        logoBtn.classList.replace('hidden', 'flex');
      } else {
        header.classList.replace('bg-neutral', 'bg-transparent');
        logoBtn.classList.replace('flex', 'hidden');
      }
    });
  }
</script>

<style>
  .btn-scroll {
    @apply btn-ghost text-primary;
  }
  .menu a {
    @apply hover:bg-accent hover:text-base-100 mx-2;
  }

  .fixed-header {
    @apply fixed bottom-auto top-0 bg-neutral;
  }
</style>
