---
interface Props {
  img: string;
}

const { img } = Astro.props;
const imgUrl = `url(${img})`;
const color = 'rgb(239, 68, 68)';
---

<div
  class='grid w-full place-items-center bg-cover bg-center min-h-screen bg-[url:var(--img-url)]'
  style={{ '--img-url': imgUrl }}
>
  <div
    class='col-start-1 row-start-1 h-screen w-screen bg-[var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)))] bg-opacity-60'
    style={{ '--tw-bg-opacity': 0.5 }}
  >
  </div>

  <div
    class='prose z-0 flex items-center justify-center gap-4 p-4 col-start-1 row-start-1
    text-center
    prose-h1:text-primary prose-h1:text-5xl
    prose-a:no-underline prose-a:font-bold prose-a:text-primary
    prose-a:bg-[url(/src/icons/1x4-00adb5ff.png)] prose-a:bg-repeat-x prose-a:bg-[left_95%]
    hover:prose-a:bg-accent hover:prose-a:rounded-lg'
    x-data
    x-intersect:enter='$el.classList.add("fadeInUp-slow")'
  >
    <div class='max-w-[40ch] sm:max-w-[65ch]'>
      <slot name='heading' />
    </div>
  </div>
</div>
