---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div class='hero min-h-screen min-w-screen' id={id}>
  <div
    class='hero-content prose
    prose-h2:text-5xl prose-h2:font-bold
    prose-p:text-2xl prose-p:font-light
     prose-strong:text-2xl prose-strong:font-bold
    prose-a:no-underline prose-a:font-bold prose-a:border-b-2 prose-a:pb-1 prose-a:border-b-accent prose-a:p-1
    hover:prose-a:bg-accent hover:prose-a:rounded-lg hover:prose-a:p-1'
  >
    <!-- FIXME: Adding a width limit keeps the container from overflowing -->
    <div
      class='w-4/5'
      x-data
      x-intersect:enter='$el.classList.add("slide-in-focus-left")'
      x-intersect:leave='$el.classList.remove("slide-in-focus-left")'
    >
      <slot name='heading' />
      <slot name='body' />
    </div>
  </div>
</div>

<style>
  pre {
    background: none;
  }
</style>
