---
interface Props {
  id: string;
}

const { id } = Astro.props;

// use for hero layout; use hero content for formatting content
---

<div
  class='grid w-full place-items-center bg-cover bg-center
min-h-screen min-w-screen'
  id={id}
>
  <!-- FIXME: Adding a width limit keeps the container from overflowing -->
  <!-- <div
    class='prose z-0 flex items-center justify-center gap-4 p-4 col-start-1 row-start-1
    prose-h2:text-5xl prose-h2:font-bold
    prose-p:text-2xl prose-p:font-light
    prose-a:no-underline prose-a:border-b-2 prose-a:pb-1 prose-a:border-b-accent prose-a:p-1
    hover:prose-a:bg-accent hover:prose-a:rounded-lg hover:prose-a:p-1'
    x-data
    x-intersect:enter='$el.classList.add("slide-in-focus-left")'
    x-intersect:leave='$el.classList.remove("slide-in-focus-left")'
  > -->

  <div
    class='prose z-0 flex items-center justify-center gap-4 p-4 col-start-1 row-start-1
    prose-h2:text-5xl prose-h2:font-bold
    prose-p:text-2xl prose-p:font-light
    prose-a:no-underline
    prose-a:bg-[url(/src/icons/1x2-00adb5ff.png)] prose-a:bg-repeat-x prose-a:bg-[left_95%]
    hover:prose-a:bg-accent hover:prose-a:rounded-lg
    prose-pre:bg-transparent prose-pre:font-sans prose-pre:text-2xl prose-pre:text-[--tw-prose-body] prose-pre:font-light prose-pre:italic prose-pre:text-wrap'
  >
    <!-- <div
      class='w-4/5'
      x-data
      x-intersect:enter='$el.classList.add("slide-in-focus-left")'
      x-intersect:leave='$el.classList.remove("slide-in-focus-left")'
    > -->
    <div class='max-w-[40ch] sm:max-w-[65ch]'>
      <slot />
    </div>
    <!-- </div> -->
  </div>

  <style>
    pre {
      background: none;
    }
  </style>
</div>
