---
// const { imgPath } = Astro.props;
const imgPath = '/images/ivan-bandura-XsAz9Mq61XY-unsplash.jpg';
---

<div class='hero min-h-screen' style=`background-image: url(${imgPath});`>
  <div class='hero-overlay bg-opacity-60'></div>
  <div
    class='hero-content text-primary text-center prose
    prose-h1:font-bold prose-h1:text-8xl prose-h1:mb-5 prose-headings:text-primary
    prose-p:text-3xl prose-p:mb-5
    prose-a:no-underline prose-a:font-bold prose-a:border-b-4 prose-a:border-b-accent prose-a:text-primary prose-a:p-1
    hover:prose-a:bg-accent hover:prose-a:rounded-lg hover:prose-a:p-1'
  >
    <div class=''>
      <slot name='title' />
      <slot name='subtitle' />
    </div>
  </div>
</div>

<!-- <div
  class='hero min-h-screen'
  style='background-image: url(/images/ivan-bandura-XsAz9Mq61XY-unsplash.jpg);'
>
  <div class='hero-overlay bg-opacity-60'></div>
  <div class='hero-content text-primary text-center prose'>
    <div class=''>
      <h1 class='mb-5 font-bold text-8xl'>Come and Die</h1>
      <p class='mb-5 text-3xl'>
        “Truly, truly, I say to you, unless a grain of wheat falls into the
        earth and dies, it remains alone; but if it dies,
        <a
          class='no-underline font-bold border-b-4 border-b-accent'
          href='#unstrategic'>it bears much fruit.</a
        >
        ” (John 12:24)
      </p>
    </div>
  </div>
</div> -->
