<ul class='menu fixed inset-y-0 my-auto rounded-box h-56 w-56 text-base-100'>
  <li class='menu-title text-base-100'>Gospel Imaginary</li>
  <li><a href='#Big God Theology'>Big God Theology</a></li>
  <li><a href='#Persuasive Preaching'>Persuasive Preaching</a></li>
  <li><a href='#Intentional Ecclesiology'>Intentional Ecclesiology</a></li>
</ul>
