---
import '../css/base.css';
import Navigation from '../components/Navigation.astro';
import FullscreenModal from '../components/FullscreenModal.astro';
---

<!doctype html>
<html lang='en' data-theme='custom' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Southern MN TCT</title>
  </head>
  <body>
    <Navigation />
    <FullscreenModal />
    <slot />
  </body>
</html>

<script>
  import 'preline/dist/preline.js';
</script>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
